.v-table__wrapper td,
th {
  vertical-align: middle;
}
.filters {
  &__date-picker {
    border-bottom: 1px solid black;
    background-color: #f1f1f1;
  }
  &__date {
    color: #808080;
    background-color: #f1f1f1;
    border: 1px solid #808080;
  }
}
.v-input__details{
  height: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important;
  padding: 0 !important;
}
@media (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }

  table {
    font-size: 14px;
  }
}
