.container{
  max-width: 1200px !important;
}
.section-title{
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.v-messages{
 font-family: Roboto, sans-serif;
}